
.container_Form{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    &.blur{
        filter: blur(4px);
    }
}
.css-1oqqzyl-MuiContainer-root{
    display: flex;
}
.div_Form{
   
    display: flex;
    justify-content: center;
    width: 90%;
    & .submit_btn{
    background-color: #1c8bbf;
    &:hover{
     background-color: var(--secundary-color);   
    }
}
}
form{ 
    width: 80%;
    margin-bottom: 100px;
    & hr{
        border-top: #BCBCBC;
        border-left: #BCBCBC;
        border-color: #BCBCBC;
    }
}
// div.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
//     // background-color: #1c8bbf;
//     &:hover{
//         outline: red;
        
// }
//         &:focus-visible {
//     outline: none;
// }
// }
