.equipo {
    // height: 100vh;
    padding: 40px;
    height: 100%;
    .equipo-intro {
        display: flex;
        justify-content: space-around;    
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
        align-items: center;
      img{
        height: 30%;
        width: 30%;
        }
      h4 {
        font-size: 2.5rem;
        font-weight: 700;
        color: #333;
        margin-bottom: 20px;
      }
  
      p {
        font-size: 1.2rem;
        color: #595959;
        font-weight: 500;
        line-height: 1.6;
      }

      .empresaDescripcion{
        margin-top: 30px;
        max-width: 60%;
        text-align: center;
    }
    }
    .equipo-descripcion {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 50px;
      
        .descripcion-item {
          width: 40%;
          margin-bottom: 30px;
          display: flex;
          flex-direction: row;
          align-items: center;
      
          h5 {
            color: #333;
            margin-bottom: 10px;
          }
      
          p {
            color: #666;
            margin-bottom: 20px;
          }
      
          .descripcion-imagen {
            width: 100%;
            border-radius: 8px;
          }
        }
        
        .descripcion-item2 {
            align-self: flex-end;
            width: 40%;
            margin-bottom: 30px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            h5 {
              color: #333;
              margin-bottom: 10px;
            }
        
            p {
              color: #666;
              margin-bottom: 20px;
            }
        
            .descripcion-imagen {
              width: 100%;
              border-radius: 8px;
            }
          }
      }
   
  }
  
  