.equipo {
    &.blur{
        filter: blur(4px);
    }
    font-family: var(--font-poppins);
    padding: 40px;
    height: 100%;
     h4{
        font-family: var(--font-poppins);
    }
    p{
        font-family: var(--font-poppins);
    }
    h5{
        font-family: var(--font-poppins);
    }
    .equipo-intro {
        display: flex;
        justify-content: space-around;    
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
        align-items: center;
      img{
        height: 30%;
        width: 30%;
        }
      h4 {
        
        font-size: 2.5rem;
        font-weight: 700;
        color: #333;
        margin-bottom: 20px;
      }
  
      p {
        font-size: 1.2rem;
        color: #595959;
        font-weight: 500;
        line-height: 1.6;
        @media (max-width: 767px) {
                 font-size: 12px;
        }
      }

    }
    .equipo-descripcion {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 50px;
      
        .descripcion-item {
          width: 60%;
          margin-bottom: 50px;
          margin-top: 50px;
          display: flex;
          flex-direction: row;
          align-items: center;
          @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            width: 100%;
   }    
          h5 {
            color: #333;
            margin-bottom: 10px;
            @media (max-width: 767px) {
                font-size: 15px;
                font-weight: 600;
       }    
          }
      
          p {
            color: #666;
            margin-bottom: 20px;
            @media (max-width: 767px) {
                font-size: 11px;
       }
          }
      
          .descripcion-imagen {
            width: 40%;
            border-radius: 8px;
            @media (max-width: 767px) {
                width: 70%;
       }    
          }
        }
        
        .descripcion-item2 {
            
            align-self: flex-end;
            width: 60%;
            margin-bottom: 30px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            @media (max-width: 767px) {
                display: flex;
                flex-direction: column;
                width: 100%;
       }    
            h5 {
              color: #333;
              margin-bottom: 10px;
              @media (max-width: 767px) {
                font-size: 15px;
                font-weight: 600;
       }    
            }
        
            p {
              color: #666;
              margin-bottom: 20px;
              @media (max-width: 767px) {
                font-size: 11px;
       }
            }
        
            .descripcion-imagen {
                width: 40%;
                border-radius: 8px;
                @media (max-width: 767px) {
                    width: 70%;
           }    
              }
          }
      }
   
  }
  
  @media (max-width: 767px) {
    .equipo-intro {
      flex-direction: column-reverse; /* Cambia a diseño de columna en dispositivos móviles */
      align-items: center;
      text-align: center;
    
    }
    
    .equipo-intro img {
      height: auto; /* Ajusta el tamaño de la imagen para dispositivos móviles */
      width: 70%; /* Ajusta el tamaño de la imagen para dispositivos móviles */
      margin-bottom: 20px; /* Añade espacio entre la imagen y el texto en dispositivos móviles */
    }
  }
  .empresaDescripcion{
    margin-top: 10px;
    width: 100%;
}
  .empresaDescripcion{
    margin-top: 30px;
    width: 60%;
    text-align: center;
    @media (max-width: 767px) {
        width: 100%;       
    }
}
.equipo_presentacion{
    h5{
        @media (max-width: 767px) {
            font-size: medium;  
            font-weight: 600;
        }
    }
    p{
        @media (max-width: 767px) {
            font-size: small;  
            // font-weight: 600;
        }
        margin-bottom: 30px;
    }
}