.footer {
    background-color: #333333c8;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
  
    .footer-content {

      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 100%;
      margin-left: 5%;
      padding: 0 20px;
  
      .footer-logo {
        img {
          max-width: 100px;
          height: auto;
          border-radius: 10px;
        }
      }
  
      .footer-links {
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
  
          li {
            display: inline-block;
            margin-right: 20px;
  
            a {
              color: #fff;
              text-decoration: none;
  
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  
    .footer-bottom {
      text-align: center;
      margin-top: 20px;
    }
  }
  .logo {
    background-image: url('../../assets/images/logo.png');
    background-size: cover;
    width: 80px;
    height: 80px;
    display: flex;
    background-position: center;
    // font-size: 24px;
    // font-weight: bold;
    border-radius: 5px;
  }