.home {
  padding: 20px;
  &.blur{
    filter: blur(3px);
  }
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
  flex-wrap: wrap;
  padding-top: 3%;

  .hero-text {
    max-width: 600px;
    @media (max-width: 1500px) {
      margin-bottom: 30px;
    }
    @media (max-width: 1240px) {
      min-width: 95%;
    }
    h1 {
      font-size: 28px;
      font-weight: bold;
      @media (max-width: 768px) {
        font-size: 20px;
        text-align: center;
      }
    }
  }
}

.questions-section {
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    
  }
}
.imageParallax{
 
  border-radius:150px;
  max-width: 90%;
  max-height: auto;
  min-height: 300px;
  @media (max-width: 760px){
    min-height: 200px;

  }
}
.cont_btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #bdbdbd63;
}
.more_btn{
  color: var(--primary-color);
  display: flex;
  font-size: 8%;
  flex-direction: row;
  max-width: 200px;
  max-height: 50px;
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  .link_pres_btn{
    text-decoration: none;
    font-size: 90%;
    color: var(--primary-color);

  }
  &:hover {
    color: white;
    background-color: var(--primary-color);
  & .link_pres_btn{
    color: white;
  }
  }
}

.pres_btn{
  margin-left: 10px;
    display: flex;
    flex-direction: row;
    background-color: #1c8bbf;
    max-width: 180px;
    max-height: 50px;
    color: white;
    padding: 10px 10px;
    border-radius: 50px;
    cursor: pointer;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    .link_pres_btn{
      font-size: 80%;
      color: white;
      @media(max-width: 400) {
        color:red;
        font-size: 50%;
      }
      
      &:hover {
        color: #1c8bbf;
      }
    }
    &:hover {
      background-color: transparent;
      color: #1c8bbf;
      border: 1px solid #1c8bbf;
      .link_pres_btn{
        color: #1c8bbf;
      }
      // background-color: #29B6F6;
    }
}



.text-overlay {
  font-size: small;
  color: var(--primary-color);
  width: 90%;
  position: absolute;
  // top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.questions-section {
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .card-container {
    padding: 20px; /* Añadimos un poco de espacio interno a la sección */
  
  }
}
.descripAque{
  font-size: large;
  margin-top: 20px;
  margin-bottom: 20px;
}
.imageParallax2{
  display: flex;
  justify-content: center;
  align-items:  flex-end;;
  flex-direction: row;
  border-radius:10px;
  max-width: 90%;
  min-height: 400px;
  & div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    height: 100%;
    width: 100%;
    // z-index: 1;
    font-size: large;
    
  }
}
.aQuenosded{
  font-weight: 500;
  color: rgb(35, 35, 35);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardConteiner3{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (min-width: 1240px) {
  .hero-section {
    
    flex-direction: row; // Cambia la dirección a fila en dispositivos más grandes
  }
 

  .questions-section {
    .card-container {
      // flex-direction: row; // Cambia la dirección a fila en dispositivos más grandes}
      gap: 20px; // Añade espacio entre las tarjetas
    }
  }
}

@media (min-width: 1240px) {
  .imageParallax{
    max-width: 600px;
  }
}

.hero-text {
  h1 {
    font-size: 28px;
    font-weight: bold;
    animation: slideInLeft 1s ease; // Aplica la animación al texto
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%); // Mueve el texto desde la izquierda
    opacity: 0; // Inicialmente transparente
  }
  to {
    transform: translateX(0); // Llega a su posición original
    opacity: 1; // Se vuelve completamente visible
  }
}

.bubble {
  // position: fixed;
  display: flex;
  align-items: center;
  width: 90%;
  height: 120px;
  margin-bottom: 30px;
  // right: 20px;
  font-size: large;
  color: rgb(76, 76, 76);
  // background-color: #b45311;
  border: 1px solid rgb(233, 233, 233);
  font-weight: 500;
  border-radius: 10px ;
  padding: 20px;
  box-shadow: 0 1px 1px rgb(162, 162, 162); 
  opacity: 0;
  transition: opacity 0.8s ease;
  align-self: center;
   @media (max-width: 760px){
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 20px 20px 20px 20px;
  }
  &.show {
    opacity: 1;

  }
  .Icono_graph{
    width: 25%;
    height: 100%;
    margin-right: 10px;
    color: var(--primary-color);
    padding: 10px;
  }
  .text_Final{
    display: flex;
    text-align: center;
  width: 90%;
}
}
